@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  background: transparent;
  padding: 20px !important;
}

.navbar-nav a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-size: 1.2rem;
  margin: 0 .5rem;
}
.navbar-nav .white{
  color: #fff;
}

.navbar-nav a:hover {
  color: orange;
}

.navbar-brand {
  color: orange;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  padding-top: 10px;
}
.navbar-nav .nav-link.active{
  color: orange !important;
}

.search {
  display: flex;
  justify-content: center;
}

.srch {
  font-family: 'Times New Roman';
  width: 130px;
  height: 30px;
  background: transparent;
  border: 1px solid orange;
  margin-top: 0px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btnn {
  width: 60px;
  height: 30px;
  background: orange;
  border: 2px solid orange;
  margin-top: 0px;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

main {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(./assets/1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

main .leftside {
  margin-top: 10rem;
}

.leftside h3.hello {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  color: aliceblue;
  text-align: left;
}

.leftside h3.hello::after {
  content: "";
  width: 450px;
  height: 3px;
  position: absolute;
  top: 43%;
  left: 9%;
  background-color: white;
}

.leftside h1 {
  color: #fff;
  margin-top: 20px;
  font-size: 70px;
  margin-bottom: 20px;
}

.leftside h2 {
  color: #fff;
  margin-bottom: 35px;
  font-weight: 500;
  margin-bottom: 25px;
}

.leftside .btn {
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 30px;
  display: inline-block;
  margin-left: 50px;
  color: #fff;
  letter-spacing: 0;
  background: green;
  border: double 2px transparent;
  box-shadow: 0 10px 30 px rgba(118, 85, 225, .3);
}

.nurseryPage {
  display: grid;
  grid-template-columns: 60% 40%;
}

.add-nersery {
  margin: 0;
  padding: 0;
}

.nersery-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.add-nersery-heading {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: orange;
}

.add-nersery-from {
  font-size: 1.2rem;
}

.add-nersery-from input {
  border: 1px solid green;
}

.nursery-btn {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.2rem;
  background: green;
  outline: none;
  border: none;
}
